/* You will write the CSS rules for your Cookie Clicker game here! */
* {
  margin: 0px;
  border: solid 1px black;
  border-radius: 5px;
}


#fullWindow {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px;
}

#gamePage {
  flex-basis: 500px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#gameHeader {
  flex-basis: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#gameContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#clicker {
  width: 100px;

}

#gameFooter {
  flex-basis: 100px;
}


#sidebar {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  gap: 10px;
}

#sidebar h1 {
  align-self: center;
  padding: 20px 0px;
}

.sidebarEntry {
  flex-basis: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 5px;
  justify-content: flex-start;
}

.producerPicture {
  width: 30px;
}

.producerText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content:space-around;
}

.producerScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
}




