/* You will write the CSS rules for your Cookie Clicker game here! */
* {
  margin: 0px;
  /* border: solid 1px black; */
  border-radius: 5px;
}

* button {
  color: inherit;
  border: none;
  padding: 0px;
  font-family: inherit;
  background-color: inherit;
  position:absolute;
  top: 1%;
  right: 1%;
}


#fullWindow {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px;
  position: relative;
}

#gamePage {
  flex-basis: 500px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#gameHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F4B3A4;
}

#leftHeader {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftHeader img {
  width: 36px;
  cursor: pointer;
}

#rightHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  background-color: #526BA8;
  color: white;
}

#gameContent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #8AA85B;
}

#clickerScreen {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#score {
  background-color: #526BA8;
  color: white;
  padding: 10px;
  font-size: large;
}

#clicker {
  width: 25%;
  cursor: pointer;
}

#gameFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
  background-color: #F4B3A4;
  border-radius: 5px;
  padding: 10px;
}

#footerIconParent {
  display: flex;
  gap: 30px;
}

#footerIconParent a {
  display: flex;
  align-content: center;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.footerIcon {
  width: 40px;
}


#sidebar {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  gap: 10px;
  justify-content: center;
}

#sidebar h1 {
  background-color: #526BA8;
  color: white;
  align-self: center;
  padding: 20px 0px;
  font-size: medium;
  text-align: center;
}

.sidebarEntry {
  background-color: #526BA8;
  color: white;
  flex-basis: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 5px;
  justify-content: flex-start;
}

.producerPicture {
  width: 60px;
}

.producerText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content:space-around;
}

.producerScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
}

#aboutPage {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  left: 30%;
  z-index: 2;
  background-color: #526BA8;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#aboutText {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: stretch;
  gap: 10px;
}

#aboutText h1 {
  text-align: center;
}

#aboutAtt {
  font-size: small;
}


#closeAbout {
  cursor: pointer;
}

#closeAbout img {
  display: block;
  width: 20px;
  padding: 0px;
}


